{% extends "AppMVT/padre.html" %}

{% load static %}

{% block contenido_que_cambia %}
<h1>CONOCENOS!! </h1>
     
    <style>


       
        .Ramiro{
            background-color: #fff;
            font-type: Roboto;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: right;

        }
        .Pablo{
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
            
        }
    </style>

<div class="Ramiro">
        
    <p>
        <h2> Mi nombre es Ramiro! tengo 29 años, y soy Ingeniero Electrico pero estoy buscando adentrarme de a poco en el mundo de la programacion,
            y la verdad es que me gusta mucho! En los ratos libres me gusta escuchar musica, y pasear. 
        </h2>
    </p>

</div>

<img src="C:\Users\ragon\EntregaDeMVT\media\images\images_Z2nXMk5.jpg">

<div class="Pablo">
    <p>
        <h2 class = "Pablo"> Hola, yo soy Pablo, tengo 34 años, fanático del punk y el grunge, y Sé mucho de películas, cinéfilo podría decirse. Tengo 2hijos Guadalupe de 5 años 
            Fausto de 3.
        </h2>
    </p>
</div>
{% endblock %}