{% extends "AppMVT\padre.html" %}

{% comment %} 
{% load static %}
{% block contenido_que_cambia %}

    <h1>Aca estan tus compañeros</h1>
    
    {% for persona in miFormulario %}

        <li>{{ persona }}</li>

    {% endfor%}

{% endblock %}
 {% endcomment %}


 {% load static %}


{% block titulo_de_pagina %}
<h1 class="mb-5">LISTADO DE ESTUDIANTES!</h1>
{% endblock %}


{% block contenido_que_cambia %}




<h1>LISTADO DE ESTUDIANTES</h1>

{% for estudiante in object_list %}

    <li>{{ estudiante }}</li>
    
    
{% endfor %}



{% endblock %}
{% block scripts %}



{% endblock %}